MINIO_ENDPOINT=
MINIO_ACCESS_KEY=
MINIO_SECRET_KEY=
MINIO_BRONZE_BUCKET=
MINIO_SILVER_BUCKET=
MINIO_GOLD_BUCKET=
MINIO_ANALYTICS_BUCKET=

FRANKFURTER_API_URL=https://api.frankfurter.dev/v2

CURRENCY_PAIRS=EUR/USD,EUR/GBP,EUR/JPY,EUR/CHF,GBP/USD,USD/JPY

YFINANCE_TICKERS=^GSPC,^STOXX50E,^GDAXI,^FTSE,^N225,^HSI

AIRFLOW_UID=50000

FERNET_KEY=

_AIRFLOW_WWW_USER_USERNAME=
_AIRFLOW_WWW_USER_PASSWORD=

SUPERSET_SECRET_KEY=
SUPERSET_ADMIN_USERNAME=
SUPERSET_ADMIN_PASSWORD=